@{
    ViewData["Title"] = "Watch";
}
@model NeatDiggers.GameServer.Room

<div class="jumbotron my-3">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col"><h2>Code: </h2></div>
                <div class="col"><h2 id="code">@Html.DisplayFor(model => model.Code)</h2></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/lobby.js"></script>