@{
ViewData["Title"] = "Create lobby";
}
@model NeatDiggers.GameServer.Room
<div class="jumbotron my-3">
    <div class="row">
        <div class="col-8">
            <h2>Code: @Html.DisplayFor(model => model.Code)</h2>
        </div>
        <div class="col-4">isStarted: @Html.DisplayFor(model => model.IsStarted)</div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-6">
        	<h3>Players:</h3>
        	@Html.DisplayFor(model => model.Players)
        </div>
        <div class="col-6">
            <h3>Map:</h3>
            @Html.DisplayFor(model => model.GameMap.Map);
        </div>
    </div>
    <button class="btn btn-success btn-block">Start</button>
</div>