@{
    ViewData["Title"] = "Game";
}
@model IEnumerable<NeatDiggers.GameServer.Room>
<form action="" class="my-3">
    <div class="row">
        <div class="col-12 px-3">
            <img class="img-fluid w-100 " src="~/img/lobby.png" alt="First slide">
        </div>
        <div class="col pt-1">
            <button type="button" class="col btn btn-success" data-toggle="modal" data-target="#CreateLobbyModal">Создать лобби</button>
        </div>
    </div>
    <div class="row form-group pt-3">
        <form class="form-inline" method="post">
            <div class="col-3">
                <input class="form-control" type="search" id="codeInput" name="code" placeholder="Введите код лобби" aria-describedby="lobby-code" required>
            </div>
            <div class="col-3">
                <input class="form-control" type="search" id="nameInput" name="name" placeholder="Укажите никнейм" aria-describedby="lobby-code" required>
            </div>
            <div class="col-3">
                <button type="submit" id="watchButton" class="col btn btn-info" asp-controller="Game" asp-action="Watch">Наблюдать</button>
            </div>
            <div class="col-3">
                <button type="submit" id="watchButton" class="col btn btn-primary" asp-controller="Game" asp-action="PlayersLobby">Играть</button>
            </div>
        </form>
    </div>
</form>
<hr>
@foreach (var room in Model)
{
    @if (room.IsStarted)
    {
        <div class="border">
            <img src="" alt="map"> | @room.Code | @room.Players.Count | @room.Round | Deck| <a class="btn btn-info" asp-route-code="@room.Code" asp-controller="Game" asp-action="Watch">Наблюдать</a>
        </div>
    }
}
<!-- Modal -->
<div class="modal fade" id="CreateLobbyModal" tabindex="-1" aria-labelledby="CreateLobbyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <form asp-controller="Game" asp-action="CreateLobby" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="CreateLobbyModal">Создание лобби</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <h4>Выбор карты</h4>
                            <select name="map" class="form-control">
                                <option value="0">Стандартная</option>
                                <option value="1">Диагональная</option>
                                <option value="2">Большая</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <h4>Выбор колоды</h4>
                            <select class="form-control">
                                <option>Стандартная</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <h4>Кол-во очков</h4>
                            <input class="form-control" type="search" name="maxScore" value="3" placeholder="Укажите победное число" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <div class="form-inline">
                        <button class="btn btn-primary" type="submit">Создать</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>