@{
    ViewData["Title"] = "Watch";
}
@model NeatDiggers.GameServer.Room

<div id="lobby" class="jumbotron my-3">
    <form action="" class="my-3">
        <div class="row form-group pt-3">
            <div class="col-4">
                <input class="form-control" type="search" id="codeInput" name="code" aria-describedby="lobby-code" hidden required>
                <h3>Вы наблюдатель.</h3>
            </div>
            <div class="col-4">
                <input class="form-control" type="search" id="nameInput" name="name" placeholder="Укажите никнейм" aria-describedby="lobby-code" required>
            </div>
            <div class="col-4">
                <button type="submit" id="watchButton" class="col btn btn-primary" asp-controller="Game" asp-action="PlayersLobby">Играть</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col"><h2>Code: </h2></div>
                <div class="col"><h2 id="code">@Html.DisplayFor(model => model.Code)</h2></div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col"><p>isStarted: </p></div>
                <div class="col"><p id="isStarted"></p></div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-4">
            <h3>Players:</h3>
            <div id="players"></div>
            <div class="row">
                <div class="col"><h3>Spectators: </h3></div>
                <div class="col"><h3 id="spectators"></h3></div>
            </div>
        </div>
        <div class="col-8">
            <div id="map"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connection error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalMessage">
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" asp-area="" asp-controller="Game" asp-action="Matches">Matches</a>
                <button class="btn btn-primary" onClick="window.location.reload();">Try again!</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/lobby.js" type="module"></script>