@{
ViewData["Title"] = "Community";
}
<div class="col-12 px-3">
    <img class="img-fluid w-100 " src="~/img/the-workshop-logo.png" alt="First slide">
</div>
<h3>Constructors:</h3>
<div class="row">
    <div class="col"><button class="col btn btn-primary">Deck</button></div>
    <div class="col"><button class="col btn btn-primary">Map</button></div>
</div>
<div class="my-4">
    <h3>Wiki:</h3>
    <div class="row">
        <div id="items" class="col">
            items
        </div>
    </div>
    <div class="row">
        <div id="characters" class="col">
            characters
        </div>
    </div>
    <div class="row">
        <div id="abilities" class="col">
            abilities
        </div>
    </div>
</div>
