<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NeatDiggers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand mr-0" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.svg" alt="ND logo" width="30" height="30" class="d-inline-block align-top">Neat Diggers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Game" asp-action="Matches">Матчи</a>
                        <a class="nav-item nav-link mr-sm-3" @*asp-area="" asp-controller="Community" asp-action="Index"*@>Комьюнити</a>
                    </div>
                    <form class="form-inline" asp-controller="Community" asp-action="Search" method="post">
                        <input class="form-control col mr-1" type="search" name="query" placeholder="Wiki поиск" aria-label="Search">
                        <button class="btn btn-outline-success col-3" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <canvas id="game" style="display: none"></canvas>

    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NeatDiggers
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
